Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [9]:
import pandas as pd

data =[4,8,15,16,23,42]

df = pd.DataFrame(data , columns=["Numbers"])

In [10]:
df["Numbers"]

0     4
1     8
2    15
3    16
4    23
5    42
Name: Numbers, dtype: int64

In [11]:
type(df["Numbers"])

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [12]:
list1 = ["Hello",23,"Shera","Anvith","Bottle",45,42,16,True,False]

In [13]:
Result = pd.Series(list1)
print(Result)

0     Hello
1        23
2     Shera
3    Anvith
4    Bottle
5        45
6        42
7        16
8      True
9     False
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.![One.png]()

In [16]:
data1 = {
    "Name" : ["Alice","Bob","Claire"],
    "Age" : [25,30,27],
    "Gender" : ["Female","Male","Female"]
}

Data_frame = pd.DataFrame(data1)

Data_frame

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame is a 2-dimensional labeled data structure with columns with different types

pandas.series is 1-dimensional and Homogenous – Series elements must be of the same data type.

pandas.dataframe is 2-dimentional and Heterogenous – DataFrame elements can have different data types.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Creating pandas dataframe.


Dropping columns in the data.


Dropping rows in the data.


Renaming a column in the dataset.


Select columns with specific data types.



Pandas DataFrames allow for the addition of columns after the DataFrame has already been created, by using the format df['newColumn'].

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [30]:
Courses = pd.Series(["Data Science Masters","Python Programming","R programming"])
Fees = pd.Series([22000,25000,23000])
Discount  = pd.Series([1000,2300,1000])

df=pd.concat([Courses,Fees,Discount],axis=1)

print(df)

                      0      1     2
0  Data Science Masters  22000  1000
1    Python Programming  25000  2300
2         R programming  23000  1000