1)Which keyword is used to create a function? Create a function to return a list of odd numbers in the 
range of 1 to 25.

def is used to create functions in python.

In [ ]:
l =[]
for i in range(1,26):
  if i%2!=0:
    l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs to 
demonstrate their use.

  args and *kwargs are used when we are not sure about number of arguments to be passed to function.

args is used to pass variable number of non-keyword arguments to function

In [ ]:
def sum(*args):
  total=0
  for i in args:
    total=total+i 
  return total

print(sum(2,3))
print(sum(3,4,5,7))

5
19

**kwargs is used to pass variable number of keyword arguments to function

In [ ]:
def test(**kwargs):
  return kwargs

In [ ]:
test(a=12,b=34,c=[1,2,3,4],d="Sharath PD")

{'a': 12, 'b': 34, 'c': [1, 2, 3, 4], 'd': 'Sharath PD'}

In [ ]:
test(c=[1,2,3,4],d="Sharath PD")

{'c': [1, 2, 3, 4], 'd': 'Sharath PD'}

Q3.  What is an iterator in python? Name the method used to initialise the iterator object and the method 
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16, 
18, 20].

Iterator is an object that contains countable number of values.
iter() is used to initialise the iterator
next() method is used for iteration.

In [ ]:
list1=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
myList = iter(list1)
n=len(list1)
for i in range(10):
  print(next(myList),end=" ")

2 4 6 8 10 12 14 16 18 20

4)  What is a generator function in python? Why yield keyword is used? Give an example of a generator 
function.

Generator function is used to declare a function which acts as iterator.

Yield function is used to get the data one by one when it called.

In [ ]:
def test_feb(n):
  a,b=0,1
  for i in range(n):
    yield a
    a,b = b,a+b

In [ ]:
test_feb(10)

In [ ]:
for i in test_feb(10):
  print(i,end=" ")

0 1 1 2 3 5 8 13 21 34

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the 
first 20 prime numbers.

In [56]:
def prime(n):
    for i in range(1,n):
        count=0
        for j in range(1,i+1):
           if i%j==0:
             count=count+1
        if count==2:
           yield i

In [66]:
prime(1000)

In [70]:
for i in prime(1000):
  print(i,",",end=" ")

2 , 3 , 5 , 7 , 11 , 13 , 17 , 19 , 23 , 29 , 31 , 37 , 41 , 43 , 47 , 53 , 59 , 61 , 67 , 71 , 73 , 79 , 83 , 89 , 97 , 101 , 103 , 107 , 109 , 113 , 127 , 131 , 137 , 139 , 149 , 151 , 157 , 163 , 167 , 173 , 179 , 181 , 191 , 193 , 197 , 199 , 211 , 223 , 227 , 229 , 233 , 239 , 241 , 251 , 257 , 263 , 269 , 271 , 277 , 281 , 283 , 293 , 307 , 311 , 313 , 317 , 331 , 337 , 347 , 349 , 353 , 359 , 367 , 373 , 379 , 383 , 389 , 397 , 401 , 409 , 419 , 421 , 431 , 433 , 439 , 443 , 449 , 457 , 461 , 463 , 467 , 479 , 487 , 491 , 499 , 503 , 509 , 521 , 523 , 541 , 547 , 557 , 563 , 569 , 571 , 577 , 587 , 593 , 599 , 601 , 607 , 613 , 617 , 619 , 631 , 641 , 643 , 647 , 653 , 659 , 661 , 673 , 677 , 683 , 691 , 701 , 709 , 719 , 727 , 733 , 739 , 743 , 751 , 757 , 761 , 769 , 773 , 787 , 797 , 809 , 811 , 821 , 823 , 827 , 829 , 839 , 853 , 857 , 859 , 863 , 877 , 881 , 883 , 887 , 907 , 911 , 919 , 929 , 937 , 941 , 947 , 953 , 967 , 971 , 977 , 983 , 991 , 997 ,

In [79]:
count1=0
list2=[]
for j in prime(1000):
  list2.append(j)
  count1+=1
  if count1==20:
    break

mylist2 =iter(list2)
for i in range(20):
  print(next(mylist2),",",end=" ")

2 , 3 , 5 , 7 , 11 , 13 , 17 , 19 , 23 , 29 , 31 , 37 , 41 , 43 , 47 , 53 , 59 , 61 , 67 , 71 ,