**Polymorphism**

In [ ]:
class Data_Science:
  def Syllabus(self):
    print("Hello this is my data science syllabus")

In [ ]:
class Web_dev:
  def Syllabus(self):
    print("This is my Web development syllabus")

In [ ]:
def class_Object(Cl_Ob):
  for i in Cl_Ob:
    i.Syllabus()

In [ ]:
object_Data_Science= Data_Science()
object_Web_Dev = Web_dev()

In [ ]:
Cl_Ob =[object_Data_Science,object_Web_Dev]

In [ ]:
class_Object(Cl_Ob)

Hello this is my data science syllabus
This is my Web development syllabus

**Encapsulation**

In [ ]:
class test:
  def __init__(self,a,b):
    self.a = a
    self.b = b

In [ ]:
t=test(13,23)

In [ ]:
t.a

13

In [ ]:
class Car:
  def __init__(self, year, make, model,speed):
    self.__year = year
    self.__make = make
    self.__model = model
    self.__speed= speed

  def set_speed(self,speed):
   self.__speed =0 if speed <0 else speed

  def get_speed(Self):
    return Self.__speed

In [ ]:
Car1 = Car(2001,"Toyata","Innova",130)

In [ ]:
Car1._Car__year

2001

In [ ]:
Car1._Car__year = 2010

In [ ]:
Car1._Car__year

2010

In [ ]:
Car1.set_speed(-123)

In [ ]:
Car1._Car__speed

0

In [ ]:
Car1.get_speed()

130

In [ ]:
Car1.set_speed(30)

In [ ]:
Car1.get_speed()

30

In [ ]:
class bank_account:
  def __init__(self,balance):
    self.__balance = balance
  
  def deposit(self,amount):
    self.__balance = self.__balance+amount

  def withdraw(self,amount):
    if self.__balance >= amount:
      self.__balance=self.__balance-amount
      return True
    else:
      return False
  
  def get_balance(self):
    return self.__balance

In [ ]:
Bank_Amount = bank_account(2000)

In [ ]:
Bank_Amount.deposit(10000)

In [ ]:
Bank_Amount.get_balance()

12000

In [ ]:
Bank_Amount.withdraw(13000)

False

In [ ]:
Bank_Amount.get_balance()

12000

In [ ]:
Bank_Amount.withdraw(7000)

True

In [ ]:
Bank_Amount.get_balance()

5000

**Inheritence**

In [ ]:
class parent:
  def test_parent(self):
    print("This is my parent class")

In [ ]:
class child(parent):
  pass

In [ ]:
Test = child()

In [ ]:
Test.test_parent()

This is my parent class

**Multilevel Inheritence**

In [ ]:
class class1:
  def test_class1(self):
    print("This is my class 1")

In [ ]:
class class2(class1):
  def test_class2(Self):
    print("This is my 2nd class")

In [ ]:
class class3(class2):
  def test_class3(self):
    print("This is my 3rd class ")

In [ ]:
Object = class3()

In [ ]:
Object.test_class3()

This is my 3rd class

In [ ]:
Object.test_class1()

This is my class 1

In [ ]:
Object.test_class2()

This is my 2nd class

**Multiple Inheritence**

In [ ]:
class class1:
  def test_class1(self):
    print("This is my 1st class")

In [ ]:
class class2:
  def test_class2(self):
    print("This is my 2nd class")

In [ ]:
class class3(class1,class2):
  pass

In [ ]:
Object1 = class3()

In [ ]:
Object1.test_class1()

This is my 1st class

In [ ]:
Object1.test_class2()

This is my 2nd class

**Abstraction**

In [ ]:
import abc
class Sharath:

  @abc.abstractmethod
  def student_details(self):
    pass
  @abc.abstractmethod
  def student_assignment(self):
    pass
  @abc.abstractmethod 
  def student_marks(self):
    pass

In [ ]:
class data_science(Sharath):
  def student_details(self):
    return "It will try to return details of data science student details"

  def student_assignment(self):
    return "It will try to return assignment details of data science student "

In [ ]:
class web_dev(Sharath):
  def student_details(self):
    return "It will try to return details of Web development student details"

  def student_marks(self):
    return "It will try to return marks details of Web development student "

In [ ]:
ds =data_science()

In [ ]:
ds.student_details()

'It will try to return details of data science student details'

In [ ]:
web = web_dev()

In [ ]:
web.student_marks()

'It will try to return marks details of Web development student '